{% extends 'home/base.html' %}


{% block content %}
<div class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Explore our Books</h1>
        <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
            <a href="{% url 'home' %}" class="btn btn-primary my-2">Back to Home</a>
            <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
        </p>
        </div>
    </div>
</div>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for book in books %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="/media/{{book.book_image}}" alt="">
            <div class="card-body">
                <p class="fw-bold">{{book.title}}</p>
                <p class="card-text">{{book.description|truncatechars:80}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">

                        <a href="/media/{{book.book_image}}" class="btn btn-sm btn-outline-secondary">View Cover</a>

                        <a href="{% url 'borrow_book' user.id book.id %}" class="btn btn-sm btn-outline-secondary">Borrow</a>
                    
                    </div>
                    <small class="text-body-secondary"> {{book.copies}} | Copies Available</small>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% endblock %}